header {
  background-position:  center center;
  background-repeat: no-repeat;
  background-image: url("link/header.jpg");
  height: 188px;
  width: 100%;
}

body{
  width:90%;
  margin:auto;
  min-width:600px;
  max-width:2000px
}

.pkm {
  font-size: 30px;
}

.fuego {
  background: #cc0000;
}

.agua {
  background: #3333ff;
}

.planta {
  background: #2eb82e;
}

#pokemon{
  font-size: 30px;
  text-shadow: 4px 4px 8px #000000;
}
