body{
  text-align: center;
}

#principal{
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  border: 29px;
  -webkit-border-image: url("link/border.png") 29 stretch;
  border-image: url("link/border.png") 29 stretch;
}

#titulo{
  font: bold 36px BitterMind, verdana, sans-serif;
  text-shadow: rgba(0,0,150, 0.8) 3px 3px 5px;
  color: hsla(120, 100%, 50%, 0.5);
}

@font-face {
  font-family: 'BitterMind';
  src: url('fuentes/BitterMind/BitterMind.ttf');
}
